<body>
  <div data-controller="fintoc" data-fintoc-public-key="<%= ENV['FINTOC_PUBLIC_KEY'] %>" data-fintoc-widget-token="<%= @link_intent.widget_token %>">
    <!-- Resto del contenido del body -->
  </div>
</body>
