<body>
  <div data-controller="fintoc" data-fintoc-public-key="<%= ENV['FINTOC_PUBLIC_KEY'] %>" data-fintoc-widget-token="<%= @link_intent.widget_token %>">
    <!-- Resto del contenido del body -->
  </div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const fintocElement = document.querySelector('[data-controller="fintoc"]');
    const publicKey = fintocElement.dataset.fintocPublicKey;
    const widgetToken = fintocElement.dataset.fintocWidgetToken;

    console.log('Public Key:', publicKey);
    console.log('Widget Token:', widgetToken);

    const fintoc = new Fintoc(publicKey);

    fintoc.link({ token: widgetToken });
  });
</script>

